.featureCard{
    width: 276px;
    height: 276px;
    position: relative;
    cursor: pointer;
}
.box{
    position: absolute;
    width:230px;
    bottom: 3.5vh; 
}
.imgSrc{
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: inherit;
    z-index: 0;
}

.art-title {
    position: absolute;
    bottom: 0;
    color: #fff;
    padding: 20px;
    z-index: 10000;
    font-size: 22px;
    font-weight: 550;
    letter-spacing: 1px;
  }

@media screen and (max-width: 600px) {
    .featureCard{
        width: 210px;
        height: 210px;
    }
    .art-title{
        font-size: 22px;
        width:200px !important;
        /* position: relative;
        top: 15px;
        left:5px; */
        font-weight: 550;
        letter-spacing: 0;
    }
  }



  
/*.card-img-overlay {
    position:relative;
}
  
.card-img-overlay::after {
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    z-index: 1000;
    border-radius: 25px !important;
  
    
     background: rgb(0,0,0);
    background: -moz-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 50%);
    background: -webkit-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 50%);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1); 
}
*/
