.herobanner{
    height:50vh;
    
    background-color: #fff;
    color: #000;
    padding-top: 30px;
}

.title {
    font-size: 96px;
}

/* .mapbox {
   display: flex;
   justify-content: center;
   align-items: center;
   
} */

.home {
    background-image: linear-gradient(white 50%, #E5E5E5 50%);
}

.categories {
    padding-top: 40px;
    padding-bottom: 40px;
}