/* Banner */
.herobanner {
  padding: 5% 0%;
  background-color: #fff;
  color: #000;
  padding-top: 30px;
}

.hero-2 {
  border-left: 3px solid #d44100;
  padding-top: 2%;
}

.hero-text {
  font-size: 20px;
  color: #000000;
}

.title {
  font-size: 40px;
}
/* Search */
.search-home {
  padding: 4% 0%;
}
.home-input {
  width: 50%;
  padding: 10px;
  border-radius: 25px;
  background-color: #eeeeee;
  border: 1px solid #eeeeee;
  box-shadow: inset 0px 4px 4px 0px #0a0a0a 10%;
  font-size: 20px;
}
.search-btn {
  color: #fff;
  background-color: #0f4c64;
  padding: 14px 25px;
  border-radius: 25px;
  margin-left: -50px;
}
/* Local Arts */

.local-title {
  position: absolute;
  bottom: 0;
  color: #fff;
  padding: 10px;
}

/* Mapbox */
.mapbox {
  border-radius: 20px;
  padding-bottom: 5%;
}

/* Featured Categories */
.features {
  background-color: #eeeeee;
}

.categories {
  padding: 5% 0%;
  /* background-color: #E5E5E5; */
}

.feature-title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.feature-link {
  font-size: 25px;
  color: #000;
}

.feature-card {
  border-radius: 25px !important;
  position: relative;
  top: 0;
  transition: top ease 0.5s;
  margin: 10px;
}
.feature-card:hover {
  top: -5px;
  border: 1px solid #d44100;
}
.feature-image {
  border-radius: 25px 25px 0px 0px !important;
}
.feature-content {
  padding: 20px 40px !important;
}

/* Medium Screens */
@media (min-width: 600px) and (max-width: 1100px) {
  .title {
    font-size: 80px;
  }
}

/* Large Screens */
@media (min-width: 1100px) {
  .title {
    font-size: 100px;
  }
}
